.drawsvg,
svg {
  width: 100%;
  height: 100%;
}
text {
  letter-spacing: 2px;
  font-weight: 900;
  font-size: 3em;
  font-family: "Parisienne", cursive;
}

svg a text:hover {
  border-bottom: 2px solid pink;
}
svg text:nth-child(2):hover {
  color: pink;
}
svg text:nth-child(3):hover {
  color: pink;
}
svg text:nth-child(4):hover {
  color: pink;
}
svg text:nth-child(5):hover {
  color: pink;
}
svg text:nth-child(6):hover {
  color: pink;
}
svg text:nth-child(7):hover {
  color: pink;
}
.stroke {
  stroke: pink;
  stroke-width: 2px;
  stroke-dasharray: 360px;
  animation: stroke 3s;
  fill: none;
  animation-timing-function: cubic-bezier(0.1, 0.5, 0.5, 0.94);
  animation-fill-mode: forwards;
}
@keyframes stroke {
  0% {
    stroke-dashoffset: 360px;
    fill: rgb(7, 1, 54);
  }
  50% {
    stroke-dashoffset: 0px;
  }
  100% {
    stroke-dashoffset: 360px;
    fill: rgb(7, 1, 54);
  }
}

/* 흠 만들어봣지만 :hover 나 속성설정이 안됌 */
/* .stroke {
  stroke: red;
  stroke-width: 1px;
  stroke-dasharray: 0 250;
  stroke-opacity: 1;
  fill: none;
  -webkit-animation: stroke_offset 7s;
  animation: stroke_offset 7s;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}/*

/* @-webkit-keyframes stroke_offset {
  
  15% {
    stroke-dasharray: 0 250;
    stroke-opacity: 1;
  }
  50%
{
    stroke-dasharray: 250 0;
    stroke-opacity: 0.75;
  }
  55%
{
    stroke-dasharray: 250 0;
    stroke-opacity: 0;
  }
} 
*/
/* 
@keyframes stroke_offset {
  100%,
  25% {
    stroke-dasharray: 0 250;
    stroke-opacity: 1;
  }
  50%
  75% {
    stroke-dasharray: 250 0;
    stroke-opacity: 0.75;
  }
  55%
  70% {
    stroke-dasharray: 250 0;
    stroke-opacity: 0;
  }
}
*/

/*.fill {
  fill: rgb(11, 1, 103);
  fill-opacity: 0;
  -webkit-animation: fill_offset 8s;
  animation: fill_offset 8s;

  animation-fill-mode: forwards;
  -webkit-animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

@-webkit-keyframes fill_offset {
  100%,90%,
  25%,
  35% {
    fill-opacity: 0;
  }
  50%,100%
  ,70% {
    fill-opacity: 1;
  }
}

@keyframes fill_offset {
  100%,90%,
  25%,
  35% {
    fill-opacity: 0;
  }
  50%,100%
  ,70% {
    fill-opacity: 1;
  }
}

#fade-text {
  font-family: "Parisienne", cursive;
  font-size: 4em;
} */
